# Oracle 10k report clustering exercise

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'../../data/oracle_10k.csv', encoding='latin1')
df.head()

,section_id,filename,section_name,section_text
0,1,oracle-corporation_annual_report_1994.docx,ORACLE SYSTEMS FORM 10-K,(Annual Report) Filed 07/27/94 for the Period ...
1,2,oracle-corporation_annual_report_1994.docx,"REDWOOD CITY, CA 94065",Telephone\t6505067000
2,3,oracle-corporation_annual_report_1994.docx,CIK\t0000777676,SIC Code\t7372 - Prepackaged Software Industry...
3,4,oracle-corporation_annual_report_1994.docx,ORACLE CORP /DE/ FORM 10-K,(Annual Report) Filed 7/27/1994 For Period End...
4,5,oracle-corporation_annual_report_1994.docx,SECURITIES AND EXCHANGE COMMISSION,"Washington, D.C. 20549"

### Set X as the section text and fill in any missing values

In [ ]:
X = df['section_text']
X.fillna('', inplace=True)

### Use CountVectorizer to transform the section text into a sparse matrix

In [26]:
# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

# instantiate the vectorizer
vect = CountVectorizer()

# fit and transform the vectorizer on the section names
fit_vect = vect.fit_transform(X)

### Run a K Means clustering on the data

In [27]:
# import KMeans clustering
from sklearn.cluster import KMeans

# instantiate kmeans
km = KMeans()

# fit kmeans on the section names vectors
km.fit(fit_vect)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [28]:
# review the kmeans labels_
km.labels_

array([0, 0, 0, ..., 6, 6, 6])

In [29]:
# add the labels_ to the original dataframe as a new column named cluster_num
df['cluster_num'] = km.labels_

### Create a function to review the created clusters

1. iterate through every cluster_num (i.e. 1, 2, 3, ...)
2. print the name of the current cluster (i.e 'CLUSTER 1', 'CLUSTER 2')
3. filter and print the dataframe to only data from the selected cluster
4. add a empty print() statement to separate the results

In [38]:
def review_clusters(df):
    for num in set(df.cluster_num):
        print('CLUSTER: {}'.format(num))
        print(df[df.cluster_num == num].section_name[0:5])
        print()

In [ ]:
# review the results
review_clusters(df)

### Repeat the process using a TfidfVectorizer and KMeans with n_clusters = 30

In [34]:
# import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# instantiate, fit, and transform the data with the vectorizer
vect = TfidfVectorizer()
fit_vect = vect.fit_transform(X)

In [35]:
# use kmeans to cluster the data
km = KMeans(n_clusters=30)
km.fit(fit_vect)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=30, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [36]:
# add the labels_ to the original dataframe as a new column
df['cluster_num'] = km.labels_

In [37]:
# review the results
review_clusters(df)

CLUSTER: 0
40                               OTHER INCOME (EXPENSE):
42                    NET INCOME AND EARNINGS PER SHARE:
60     SOFTWARE REVENUE RECOGNITION METHOD, NET EARNI...
143                   NET INCOME AND EARNINGS PER SHARE:
160    OPERATING  INCOME................................
Name: section_name, dtype: object

CLUSTER: 1
8                 PART I ITEM 1. BUSINESS
9                              BACKGROUND
12          COOPERATIVE SERVER TECHNOLOGY
13    COOPERATIVE DEVELOPMENT ENVIRONMENT
14         END USER APPLICATIONS PRODUCTS
Name: section_name, dtype: object

CLUSTER: 2
977                                   MARKETING AND SALES
990     ITEM 7.   MANAGEMENTS DISCUSSION AND ANALYSIS...
1008                      QUARTERLY RESULTS OF OPERATIONS
1015    YEAR ENDED MAY 31, (DOLLARS IN MILLIONS)\t2003...
1017    FACTORS THAT MAY AFFECT OUR FUTURE RESULTS OR ...
Name: section_name, dtype: object

CLUSTER: 3
1463    NEW SOFTWARE LICENSES:\tNEW SOFTWARE LICENSE R...
1466    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT: ...
1470    CONSULTING:  CONSULTING REVENUES ARE EARNED BY...
1475    EDUCATION:  EDUCATION REVENUES ARE EARNED BY P...
1478    RESEARCH AND DEVELOPMENT EXPENSES:  RESEARCH A...
Name: section_name, dtype: object

CLUSTER: 4
4                    SECURITIES AND EXCHANGE COMMISSION
5     FORM 10-K [X] ANNUAL REPORT PURSUANT TO SECTIO...
7     ORACLE SYSTEMS CORPORATION 1994 FORM 10-K ANNU...
11                                             PRODUCTS
18    DECLARATIVE AND PROCEDURAL DATA INTEGRITY FEAT...
Name: section_name, dtype: object

CLUSTER: 5
1022    (DOLLARS IN MILLIONS) AMORTIZED PRINCIPAL AMOU...
1050                                             EXCHANGE
1052                               NOTES PAYABLE AND DEBT
1162    CASH FLOWS FROM FINANCING ACTIVITIES:\tWE INCU...
1174        (DOLLARS IN MILLIONS) BALANCE AT MAY 31, 2003
Name: section_name, dtype: object

CLUSTER: 6
33     ITEM 4. SUBMISSION OF MATTERS TO A VOTE OF SEC...
46     ITEM 9. CHANGES IN AND DISAGREEMENTS WITH ACCO...
132    ITEM 4. SUBMISSION OF MATTERS TO A VOTE OF SEC...
147    ITEM 9. CHANGES IN AND DISAGREEMENTS WITH ACCO...
237    ITEM 4. SUBMISSION OF MATTERS TO A VOTE OF SEC...
Name: section_name, dtype: object

CLUSTER: 7
202                             NAME\tTITLE\tDATE
315    ORACLE CORPORATION BY: LAWRENCE J. ELLISON
451            BANKBOSTON, N.A., AS WARRANT AGENT
602                            ORACLE CORPORATION
618                            ORACLE CORPORATION
Name: section_name, dtype: object

CLUSTER: 8
102    DOCUMENTS INCORPORATED BY REFERENCE:
217    DOCUMENTS INCORPORATED BY REFERENCE:
326    DOCUMENTS INCORPORATED BY REFERENCE:
495    DOCUMENTS INCORPORATED BY REFERENCE:
621    DOCUMENTS INCORPORATED BY REFERENCE:
Name: section_name, dtype: object

CLUSTER: 9
41                           PROVISION FOR INCOME TAXES:
77                                          INCOME TAXES
142                          PROVISION FOR INCOME TAXES:
193    YEAR ENDED MAY 31, ORACLE CORPORATION NOTES TO...
248    FISCAL YEAR 1996 CHANGE FISCAL YEAR 1995 CHANG...
Name: section_name, dtype: object

CLUSTER: 10
47     PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
48                       ITEM 11. EXECUTIVE COMPENSATION
49     ITEM 12. SECURITY OWNERSHIP OF CERTAIN BENEFIC...
50     ITEM 13. CERTAIN RELATIONSHIPS AND RELATED TRA...
148    PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
Name: section_name, dtype: object

CLUSTER: 11
36                      ITEM 6. SELECTED FINANCIAL DATA
58    OTHER LONG-TERM LIABILITIES . . . . . . . . . ...
70                             STATEMENTS OF CASH FLOWS
74                           SOFTWARE DEVELOPMENT COSTS
78                                   EARNINGS PER SHARE
Name: section_name, dtype: object

CLUSTER: 12
6      SECURITIES REGISTERED PURSUANT TO SECTION 12(B...
92                                            SIGNATURES
93                            ORACLE SYSTEMS CORPORATION
101    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
199                                           SIGNATURES
Name: section_name, dtype: object

CLUSTER: 13
35     PART II ITEM 5. MARKET FOR REGISTRANT'S COMMON...
84                               SHAREHOLDER RIGHTS PLAN
94     ORACLE SYSTEMS CORPORATION INDEX OF EXHIBITS A...
135    PART II ITEM 5. MARKET FOR REGISTRANT'S COMMON...
172    ORACLE CORPORATION NOTES TO CONSOLIDATED FINAN...
Name: section_name, dtype: object

CLUSTER: 14
71                             CASH AND CASH INVESTMENTS
141                              OTHER INCOME (EXPENSE):
173    STATEMENT OF FINANCIAL ACCOUNTING STANDARDS NO...
286            INVESTMENTS IN DEBT AND EQUITY SECURITIES
397            INVESTMENTS IN DEBT AND EQUITY SECURITIES
Name: section_name, dtype: object

CLUSTER: 15
62     ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
81               STOCKHOLDERS' EQUITY STOCK OPTION PLANS
82                                      NON-PLAN OPTIONS
83                                   STOCK PURCHASE PLAN
181                                   EARNINGS PER SHARE
Name: section_name, dtype: object

CLUSTER: 16
45     ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
52     II. AMOUNTS RECEIVABLE FROM RELATED PARTIES AN...
96             CONSENT OF INDEPENDENT PUBLIC ACCOUNTANTS
103    ORACLE CORPORATION  1995 FORM 10-K ANNUAL REPO...
146    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
Name: section_name, dtype: object

CLUSTER: 17
10                          PRODUCT DEVELOPMENT HISTORY
15                                     PRODUCT FEATURES
19    SUPPORT FOR TIGHTLY AND LOOSELY-COUPLED PARALL...
21          CONSULTING, EDUCATION, AND SUPPORT SERVICES
23        MARKETING AND SALES DIRECT SALES ORGANIZATION
Name: section_name, dtype: object

CLUSTER: 18
1          REDWOOD CITY, CA 94065
2                 CIK\t0000777676
98         REDWOOD CITY, CA 94065
99                CIK\t0000777676
211    ARTICLE 5 MULTIPLIER: 1000
Name: section_name, dtype: object

CLUSTER: 19
34     ITEM 4A. EXECUTIVE OFFICERS OF THE REGISTRANT
134                                  NAME\tOFFICE(S)
239                                  NAME\tOFFICE(S)
347                                  NAME\tOFFICE(S)
516                                  NAME\tOFFICE(S)
Name: section_name, dtype: object

CLUSTER: 20
63     ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
64                 CASH FLOWS FROM INVESTING ACTIVITIES:
65                 CASH FLOWS FROM FINANCING ACTIVITIES:
66     EFFECT OF EXCHANGE RATE CHANGES ON CASH\t(2,00...
165    ORACLE CORPORATION CONSOLIDATED STATEMENTS OF ...
Name: section_name, dtype: object

CLUSTER: 21
51     PART IV ITEM 14. EXHIBITS, FINANCIAL STATEMENT...
61                          COMMON AND COMMON EQUIVALENT
152    PART IV ITEM 14. EXHIBITS, FINANCIAL STATEMENT...
166                           CASH AND CASH EQUIVALENTS:
259           PART IV (A)2.FINANCIAL STATEMENT SCHEDULES
Name: section_name, dtype: object

CLUSTER: 22
748                          SUPPORT
882                          SUPPORT
975      LICENSE AND LICENSE UPDATES
976                         SERVICES
979    PRODUCT AND SERVICES REVENUES
Name: section_name, dtype: object

CLUSTER: 23
948                         STOCK REPURCHASES
987           LOW SALE PRICE\tHIGH SALE PRICE
1014    CASH FLOWS FROM FINANCING ACTIVITIES:
1309                 STOCK REPURCHASE PROGRAM
1316                                LIQUIDITY
Name: section_name, dtype: object

CLUSTER: 24
37     ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
38                                             REVENUES:
138    ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
139                                            REVENUES:
243    ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
Name: section_name, dtype: object

CLUSTER: 25
31     ITEM 2. PROPERTIES
235    ITEM 2. PROPERTIES
343    ITEM 2. PROPERTIES
512    ITEM 2. PROPERTIES
639    ITEM 2. PROPERTIES
Name: section_name, dtype: object

CLUSTER: 26
69                          FOREIGN CURRENCY TRANSLATION
169                         FOREIGN CURRENCY TRANSLATION
282                         FOREIGN CURRENCY TRANSLATION
393                         FOREIGN CURRENCY TRANSLATION
531    ITEM 7A. QUANTITATIVE AND QUALITATIVE DISCLOSU...
Name: section_name, dtype: object

CLUSTER: 27
53     REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
156    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
263    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
373    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
542    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
Name: section_name, dtype: object

CLUSTER: 28
153        PAGE
260        PAGE
369        PAGE
539        PAGE
1032    PART IV
Name: section_name, dtype: object

CLUSTER: 29
0        ORACLE SYSTEMS FORM 10-K
3      ORACLE CORP /DE/ FORM 10-K
97       ORACLE SYSTEMS FORM 10-K
100    ORACLE CORP /DE/ FORM 10-K
212      ORACLE SYSTEMS FORM 10-K
Name: section_name, dtype: object

### Tune the hyperparameters for TfidfVectorizer and KMeans

1. For TfidfVectorizer - modify ngram_range, min_df, and stop_words
2. For KMeans - modify n_clusters

In [41]:
%%time 

# create the vectorizer
vect = TfidfVectorizer(ngram_range=(1,2), min_df=.01, stop_words='english')
fit_vect = vect.fit_transform(X)

# cluster the data
km = KMeans(n_clusters=20)
km.fit(fit_vect)

# add the clusters to the original data
df['cluster_num'] = km.labels_

# review the results
review_clusters(df)

CLUSTER: 0
1022    (DOLLARS IN MILLIONS) AMORTIZED PRINCIPAL AMOU...
1050                                             EXCHANGE
1051      AS OF MAY 31, (DOLLARS IN MILLIONS)\t2002\t2001
1052                               NOTES PAYABLE AND DEBT
1162    CASH FLOWS FROM FINANCING ACTIVITIES:\tWE INCU...
Name: section_name, dtype: object

CLUSTER: 1
28     PRODUCT AND SERVICES REVENUES
38                         REVENUES:
76               REVENUE RECOGNITION
127    PRODUCT AND SERVICES REVENUES
139                        REVENUES:
Name: section_name, dtype: object

CLUSTER: 2
182           ACQUISITION
757    ITEM 2. PROPERTIES
891    ITEM 2. PROPERTIES
937           ADVERTISING
939     RECLASSIFICATIONS
Name: section_name, dtype: object

CLUSTER: 3
716       SEGMENT INFORMATION
831       SEGMENT INFORMATION
950       SEGMENT INFORMATION
1063      SEGMENT INFORMATION
1121    PRODUCTS AND SERVICES
Name: section_name, dtype: object

CLUSTER: 4
6      SECURITIES REGISTERED PURSUANT TO SECTION 12(B...
101    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
216    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
325    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
494    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
Name: section_name, dtype: object

CLUSTER: 5
47     PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
48                       ITEM 11. EXECUTIVE COMPENSATION
49     ITEM 12. SECURITY OWNERSHIP OF CERTAIN BENEFIC...
50     ITEM 13. CERTAIN RELATIONSHIPS AND RELATED TRA...
102                 DOCUMENTS INCORPORATED BY REFERENCE:
Name: section_name, dtype: object

CLUSTER: 6
32                            ITEM 3. LEGAL PROCEEDINGS
35    PART II ITEM 5. MARKET FOR REGISTRANT'S COMMON...
62    ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
81              STOCKHOLDERS' EQUITY STOCK OPTION PLANS
82                                     NON-PLAN OPTIONS
Name: section_name, dtype: object

CLUSTER: 7
37     ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
138    ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
243    ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
245    OPERATING EXPENSES: FISCAL YEAR 1996 CHANGE FI...
351    ITEM 7. MANAGEMENT'S DISCUSSION AND ANALYSIS O...
Name: section_name, dtype: object

CLUSTER: 8
59     ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
91     SCHEDULE X ORACLE SYSTEMS CORPORATION SUPPLEME...
616    FORM 10-K [X] ANNUAL REPORT PURSUANT TO SECTIO...
644                      ITEM 6. SELECTED FINANCIAL DATA
675    ORACLE CORPORATION CONSOLIDATED STATEMENTS OF ...
Name: section_name, dtype: object

CLUSTER: 9
1447                               BUSINESS  COMBINATIONS
1528                                        (IN MILLIONS)
1529    (DOLLARS IN MILLIONS)\tFAIR VALUE ACCUMULATED ...
1626                                BUSINESS COMBINATIONS
1692                                        (IN MILLIONS)
Name: section_name, dtype: object

CLUSTER: 10
40                               OTHER INCOME (EXPENSE):
161    INCOME BEFORE PROVISION FOR INCOME TAXES AND C...
180                                         INCOME TAXES
194    YEAR ENDED MAY 31, ---------\t--------\t------...
247                          PROVISION FOR INCOME TAXES:
Name: section_name, dtype: object

CLUSTER: 11
948                                     STOCK REPURCHASES
1215                                STOCKHOLDERS  EQUITY
1309                             STOCK REPURCHASE PROGRAM
1316                                            LIQUIDITY
1344    CASH FLOWS FROM OPERATING ACTIVITIES: OUR LARG...
Name: section_name, dtype: object

CLUSTER: 12
52     II. AMOUNTS RECEIVABLE FROM RELATED PARTIES AN...
154                                          3. EXHIBITS
155                        EXHIBIT NUMBER\tEXHIBIT TITLE
261                                        (A)3.EXHIBITS
262                        EXHIBIT NUMBER\tEXHIBIT TITLE
Name: section_name, dtype: object

CLUSTER: 13
53     REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
156    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
263    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
373    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
542    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
Name: section_name, dtype: object

CLUSTER: 14
69                          FOREIGN CURRENCY TRANSLATION
169                         FOREIGN CURRENCY TRANSLATION
282                         FOREIGN CURRENCY TRANSLATION
393                         FOREIGN CURRENCY TRANSLATION
531    ITEM 7A. QUANTITATIVE AND QUALITATIVE DISCLOSU...
Name: section_name, dtype: object

CLUSTER: 15
1483    ACQUISITION RELATED CHARGES:  ACQUISITION RELA...
1531                            RESTRUCTURING  ACTIVITIES
1533                                           FACILITIES
1534     (IN MILLIONS) SEVERANCE FACILITIES\tOTHER\tTOTAL
1649    RESTRUCTURING:  RESTRUCTURING EXPENSES CONSIST...
Name: section_name, dtype: object

CLUSTER: 16
41                           PROVISION FOR INCOME TAXES:
77                                          INCOME TAXES
142                          PROVISION FOR INCOME TAXES:
193    YEAR ENDED MAY 31, ORACLE CORPORATION NOTES TO...
248    FISCAL YEAR 1996 CHANGE FISCAL YEAR 1995 CHANG...
Name: section_name, dtype: object

CLUSTER: 17
61                          COMMON AND COMMON EQUIVALENT
163    ----------\t----------\t---------- NET INCOME....
166                           CASH AND CASH EQUIVALENTS:
273    NET INCOME................................. $ ...
384    NET INCOME................................. $ ...
Name: section_name, dtype: object

CLUSTER: 18
27     COMPETITION
126    COMPETITION
231    COMPETITION
339    COMPETITION
508    COMPETITION
Name: section_name, dtype: object

CLUSTER: 19
8           PART I ITEM 1. BUSINESS
9                        BACKGROUND
10      PRODUCT DEVELOPMENT HISTORY
11                         PRODUCTS
12    COOPERATIVE SERVER TECHNOLOGY
Name: section_name, dtype: object

CLUSTER: 20
1135    AVAILABLE  INFORMATION
1301     AVAILABLE INFORMATION
1425    AVAILABLE  INFORMATION
1600     AVAILABLE INFORMATION
1769     AVAILABLE INFORMATION
Name: section_name, dtype: object

CLUSTER: 21
44                      LIQUIDITY AND CAPITAL RESOURCES
58    OTHER LONG-TERM LIABILITIES . . . . . . . . . ...
70                             STATEMENTS OF CASH FLOWS
74                           SOFTWARE DEVELOPMENT COSTS
78                                   EARNINGS PER SHARE
Name: section_name, dtype: object

CLUSTER: 22
1463    NEW SOFTWARE LICENSES:\tNEW SOFTWARE LICENSE R...
1466    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT: ...
1470    CONSULTING:  CONSULTING REVENUES ARE EARNED BY...
1475    EDUCATION:  EDUCATION REVENUES ARE EARNED BY P...
1478    RESEARCH AND DEVELOPMENT EXPENSES:  RESEARCH A...
Name: section_name, dtype: object

CLUSTER: 23
92                         SIGNATURES
93         ORACLE SYSTEMS CORPORATION
199                        SIGNATURES
201    LAWRENCE J. ELLISON, PRESIDENT
314                        SIGNATURES
Name: section_name, dtype: object

CLUSTER: 24
54     ORACLE SYSTEMS CORPORATION CONSOLIDATED BALANC...
66     EFFECT OF EXCHANGE RATE CHANGES ON CASH\t(2,00...
71                             CASH AND CASH INVESTMENTS
72                          CONCENTRATION OF CREDIT RISK
141                              OTHER INCOME (EXPENSE):
Name: section_name, dtype: object

CLUSTER: 25
2      CIK\t0000777676
99     CIK\t0000777676
214    CIK\t0000777676
323    CIK\t0000777676
492    CIK\t0000777676
Name: section_name, dtype: object

CLUSTER: 26
1210    MAY 31, GUARANTEES
1385            GUARANTEES
1561            GUARANTEES
1723            GUARANTEES
1924            GUARANTEES
Name: section_name, dtype: object

CLUSTER: 27
0                             ORACLE SYSTEMS FORM 10-K
1                               REDWOOD CITY, CA 94065
3                           ORACLE CORP /DE/ FORM 10-K
4                   SECURITIES AND EXCHANGE COMMISSION
5    FORM 10-K [X] ANNUAL REPORT PURSUANT TO SECTIO...
Name: section_name, dtype: object

CLUSTER: 28
45     ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
146    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
253    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
362    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
532    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
Name: section_name, dtype: object

CLUSTER: 29
1449                                             GOODWILL
1628                                             GOODWILL
1796                                             GOODWILL
1990    GOODWILL AND INTANGIBLE ASSETSIMPAIRMENT ASSE...
2205    GOODWILL AND INTANGIBLE ASSETSIMPAIRMENT ASSE...
Name: section_name, dtype: object

Wall time: 33 s

### Repeat the process using a DBSCAN clustering algorithm

In [ ]:
from sklearn.cluster import  DBSCAN

In [52]:
%%time

# create a tfidfvectorizer
vect = TfidfVectorizer(ngram_range=(1,2), min_df=.01, stop_words='english')
fit_vect = vect.fit_transform(X)

# instantiate and fit a dbscan clustering algorithm
dbscan = DBSCAN(eps=0.5, min_samples=10)
dbscan.fit(fit_vect)

# add the clusters to the original data
df['cluster_num'] = dbscan.labels_

Wall time: 1.82 s

In [53]:
# review the results
review_clusters(df)

CLUSTER: 0
1      REDWOOD CITY, CA 94065
98     REDWOOD CITY, CA 94065
213    REDWOOD CITY, CA 94065
322    REDWOOD CITY, CA 94065
491    REDWOOD CITY, CA 94065
Name: section_name, dtype: object

CLUSTER: 1
2      CIK\t0000777676
99     CIK\t0000777676
214    CIK\t0000777676
323    CIK\t0000777676
492    CIK\t0000777676
Name: section_name, dtype: object

CLUSTER: 2
4                     SECURITIES AND EXCHANGE COMMISSION
7      ORACLE SYSTEMS CORPORATION 1994 FORM 10-K ANNU...
33     ITEM 4. SUBMISSION OF MATTERS TO A VOTE OF SEC...
46     ITEM 9. CHANGES IN AND DISAGREEMENTS WITH ACCO...
104    SIGNATURES     ..................................
Name: section_name, dtype: object

CLUSTER: 3
45     ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
146    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
253    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
362    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
532    ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
Name: section_name, dtype: object

CLUSTER: 4
47     PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
48                       ITEM 11. EXECUTIVE COMPENSATION
49     ITEM 12. SECURITY OWNERSHIP OF CERTAIN BENEFIC...
50     ITEM 13. CERTAIN RELATIONSHIPS AND RELATED TRA...
148    PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
Name: section_name, dtype: object

CLUSTER: 5
61                          COMMON AND COMMON EQUIVALENT
166                           CASH AND CASH EQUIVALENTS:
273    NET INCOME................................. $ ...
384    NET INCOME................................. $ ...
553                                   SHARES OUTSTANDING
Name: section_name, dtype: object

CLUSTER: 6
92     SIGNATURES
199    SIGNATURES
314    SIGNATURES
430    SIGNATURES
601    SIGNATURES
Name: section_name, dtype: object

CLUSTER: 7
102    DOCUMENTS INCORPORATED BY REFERENCE:
217    DOCUMENTS INCORPORATED BY REFERENCE:
326    DOCUMENTS INCORPORATED BY REFERENCE:
495    DOCUMENTS INCORPORATED BY REFERENCE:
621    DOCUMENTS INCORPORATED BY REFERENCE:
Name: section_name, dtype: object

CLUSTER: 8
34     ITEM 4A. EXECUTIVE OFFICERS OF THE REGISTRANT
134                                  NAME\tOFFICE(S)
239                                  NAME\tOFFICE(S)
347                                  NAME\tOFFICE(S)
516                                  NAME\tOFFICE(S)
Name: section_name, dtype: object

CLUSTER: 9
152     PART IV ITEM 14. EXHIBITS, FINANCIAL STATEMENT...
368     PART IV ITEM 14. EXHIBITS, FINANCIAL STATEMENT...
538     PART IV ITEM 14. EXHIBITS, FINANCIAL STATEMENT...
1185    ITEM 15.   EXHIBITS, FINANCIAL STATEMENT SCHED...
1364    PART IV ITEM 15.\tEXHIBITS, FINANCIAL STATEMEN...
Name: section_name, dtype: object

CLUSTER: 10
153     PAGE
260     PAGE
1186    PAGE
1365    PAGE
1685    PAGE
Name: section_name, dtype: object

CLUSTER: 11
53     REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
156    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
263    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
373    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
542    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
Name: section_name, dtype: object

CLUSTER: 12
161    INCOME BEFORE PROVISION FOR INCOME TAXES AND C...
272    ---------- ---------- ---------- INCOME BEFORE...
383    ---------- ---------- ---------- INCOME BEFORE...
551    ---------- ---------- ---------- INCOME BEFORE...
679    ---------- ---------- ---------- INCOME BEFORE...
Name: section_name, dtype: object

CLUSTER: 13
259     PART IV (A)2.FINANCIAL STATEMENT SCHEDULES
1366        (A)\t2.\tFINANCIAL STATEMENT SCHEDULES
1686              2. FINANCIAL STATEMENT SCHEDULES
1864            2.   FINANCIAL STATEMENT SCHEDULES
2063            2.   FINANCIAL STATEMENT SCHEDULES
Name: section_name, dtype: object

CLUSTER: 14
968     UNITED STATES SECURITIES AND EXCHANGE COMMISSI...
1407    TABLE OF CONTENTS UNITED STATES SECURITIES AND...
1580    TABLE OF CONTENTS UNITED STATES SECURITIES AND...
1746     UNITED STATES SECURITIES AND EXCHANGE COMMISS...
1747            FOR THE FISCAL YEAR ENDED MAY 31, 2007 OR
Name: section_name, dtype: object

CLUSTER: 15
1123    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT
1290    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT
1414    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT
1589    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT
1757    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT
Name: section_name, dtype: object

CLUSTER: 16
1135    AVAILABLE  INFORMATION
1301     AVAILABLE INFORMATION
1425    AVAILABLE  INFORMATION
1600     AVAILABLE INFORMATION
1769     AVAILABLE INFORMATION
Name: section_name, dtype: object

CLUSTER: 17
1180    ITEM 9A.   INTERNAL CONTROL OVER FINANCIAL REP...
1507    CHANGES IN INTERNAL CONTROL OVER FINANCIAL REP...
1675    CHANGES IN INTERNAL CONTROL OVER FINANCIAL REP...
1853    CHANGES IN INTERNAL CONTROL OVER FINANCIAL REP...
2053    CHANGES IN INTERNAL CONTROL OVER FINANCIAL REP...
Name: section_name, dtype: object

CLUSTER: 18
1056    EARNINGS PER SHARE
1200    EARNINGS PER SHARE
1376    EARNINGS PER SHARE
1545    EARNINGS PER SHARE
1710    EARNINGS PER SHARE
Name: section_name, dtype: object

CLUSTER: 19
1446    CRITICAL ACCOUNTING POLICIES AND ESTIMATES
1625    CRITICAL ACCOUNTING POLICIES AND ESTIMATES
1793    CRITICAL ACCOUNTING POLICIES AND ESTIMATES
1987    CRITICAL ACCOUNTING POLICIES AND ESTIMATES
2074                              USE OF ESTIMATES
Name: section_name, dtype: object

CLUSTER: 20
1451    ACCOUNTING FOR INCOME TAXES
1630    ACCOUNTING FOR INCOME TAXES
1797    ACCOUNTING FOR INCOME TAXES
1991    ACCOUNTING FOR INCOME TAXES
2206    ACCOUNTING FOR INCOME TAXES
Name: section_name, dtype: object

CLUSTER: 21
1463    NEW SOFTWARE LICENSES:\tNEW SOFTWARE LICENSE R...
1466    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT: ...
1470    CONSULTING:  CONSULTING REVENUES ARE EARNED BY...
1475    EDUCATION:  EDUCATION REVENUES ARE EARNED BY P...
1478    RESEARCH AND DEVELOPMENT EXPENSES:  RESEARCH A...
Name: section_name, dtype: object

CLUSTER: 22
1508    INHERENT LIMITATIONS ON EFFECTIVENESS OF CONTROLS
1676    INHERENT LIMITATIONS ON EFFECTIVENESS OF CONTROLS
1854    INHERENT LIMITATIONS ON EFFECTIVENESS OF CONTROLS
2054    INHERENT LIMITATIONS ON EFFECTIVENESS OF CONTROLS
2272    INHERENT LIMITATIONS ON EFFECTIVENESS OF CONTROLS
Name: section_name, dtype: object

CLUSTER: 23
1279    CERTIFICATION PURSUANT TO SECTION 302 OF THE S...
1401    CONSENT OF ERNST & YOUNG LLP, INDEPENDENT REGI...
1573    CERTIFICATION PURSUANT TO SECTION 302 OF THE S...
1745    CERTIFICATION PURSUANT TO SECTION 302 OF THE S...
2792    CONSENT OF ERNST & YOUNG LLP, INDEPENDENT REGI...
Name: section_name, dtype: object

CLUSTER: 24
1506    MANAGEMENTS REPORT ON INTERNAL CONTROL OVER F...
1674    MANAGEMENTS REPORT ON INTERNAL CONTROL OVER F...
1852    MANAGEMENTS REPORT ON INTERNAL CONTROL OVER F...
2052    MANAGEMENTS REPORT ON INTERNAL CONTROL OVER F...
2270    MANAGEMENTS REPORT ON INTERNAL CONTROL OVER F...
Name: section_name, dtype: object

CLUSTER: 25
1139     ITEM 3.\tLEGAL PROCEEDINGS
1305     ITEM 3.\tLEGAL PROCEEDINGS
1608     ITEM 3.\tLEGAL PROCEEDINGS
1777    ITEM 3.   LEGAL PROCEEDINGS
1971    ITEM 3.   LEGAL PROCEEDINGS
Name: section_name, dtype: object

CLUSTER: 26
1449                                             GOODWILL
1628                                             GOODWILL
1796                                             GOODWILL
1990    GOODWILL AND INTANGIBLE ASSETSIMPAIRMENT ASSE...
2205    GOODWILL AND INTANGIBLE ASSETSIMPAIRMENT ASSE...
Name: section_name, dtype: object

CLUSTER: 27
2004    NEW SOFTWARE LICENSES: NEW SOFTWARE LICENSE RE...
2008    YEAR ENDED MAY 31, PERCENT CHANGE\tPERCENT CHANGE
2012    CONSULTING: CONSULTING REVENUES ARE EARNED BY ...
2015    ON DEMAND: ON DEMAND INCLUDES OUR ORACLE ON DE...
2021    RESEARCH AND DEVELOPMENT EXPENSES: RESEARCH AN...
Name: section_name, dtype: object

CLUSTER: 28
1702    YEAR ENDED MAY 31, $5.75 BILLION SENIOR NOTES
1837                             SENIOR NOTES PAYABLE
1896        LONG-TERM BORROWINGS SENIOR NOTES PAYABLE
2035         RECENT FINANCING ACTIVITIES SENIOR NOTES
2111                                     SENIOR NOTES
Name: section_name, dtype: object

CLUSTER: 29
2263    FOREIGN CURRENCY RISK FOREIGN CURRENCY TRANSAC...
2345    FOREIGN CURRENCY FORWARD CONTRACTS NOT DESIGNA...
2689    FOREIGN CURRENCY RISK FOREIGN CURRENCY TRANSAC...
2761    FOREIGN CURRENCY FORWARD CONTRACTS NOT DESIGNA...
2902    FOREIGN CURRENCY RISK FOREIGN CURRENCY TRANSAC...
Name: section_name, dtype: object

CLUSTER: 30
2637    REVENUE RECOGNITION POLICIES APPLICABLE TO BOT...
2717    OTHER REVENUE RECOGNITION POLICIES APPLICABLE ...
2858    REVENUE RECOGNITION POLICIES APPLICABLE TO BOT...
2929    OTHER REVENUE RECOGNITION POLICIES APPLICABLE ...
3075    REVENUE RECOGNITION POLICIES APPLICABLE TO BOT...
Name: section_name, dtype: object

CLUSTER: -1
0                             ORACLE SYSTEMS FORM 10-K
3                           ORACLE CORP /DE/ FORM 10-K
5    FORM 10-K [X] ANNUAL REPORT PURSUANT TO SECTIO...
6    SECURITIES REGISTERED PURSUANT TO SECTION 12(B...
8                              PART I ITEM 1. BUSINESS
Name: section_name, dtype: object

### Repeat the process using AgglomerativeClustering

In [ ]:
from sklearn.cluster import AgglomerativeClustering

In [50]:
%%time

# create a tfidfvectorizer
vect = TfidfVectorizer(ngram_range=(1,2), min_df=.01, stop_words='english')
fit_vect = vect.fit_transform(X)

# instantiate and fit a dbscan clustering algorithm
ac = AgglomerativeClustering(n_clusters=20)
ac.fit(fit_vect.toarray())

# add the clusters to the original data
df['cluster_num'] = ac.labels_

Wall time: 19.8 s

In [51]:
# review the results
review_clusters(df)

CLUSTER: 0
47     PART III ITEM 10. DIRECTORS AND EXECUTIVE OFFI...
48                       ITEM 11. EXECUTIVE COMPENSATION
49     ITEM 12. SECURITY OWNERSHIP OF CERTAIN BENEFIC...
50     ITEM 13. CERTAIN RELATIONSHIPS AND RELATED TRA...
102                 DOCUMENTS INCORPORATED BY REFERENCE:
Name: section_name, dtype: object

CLUSTER: 1
1                               REDWOOD CITY, CA 94065
2                                      CIK\t0000777676
4                   SECURITIES AND EXCHANGE COMMISSION
5    FORM 10-K [X] ANNUAL REPORT PURSUANT TO SECTIO...
7    ORACLE SYSTEMS CORPORATION 1994 FORM 10-K ANNU...
Name: section_name, dtype: object

CLUSTER: 2
32                            ITEM 3. LEGAL PROCEEDINGS
52    II. AMOUNTS RECEIVABLE FROM RELATED PARTIES AN...
87                                           LITIGATION
94    ORACLE SYSTEMS CORPORATION INDEX OF EXHIBITS A...
95                                    LIST OF ENTITIES:
Name: section_name, dtype: object

CLUSTER: 3
35    PART II ITEM 5. MARKET FOR REGISTRANT'S COMMON...
44                      LIQUIDITY AND CAPITAL RESOURCES
58    OTHER LONG-TERM LIABILITIES . . . . . . . . . ...
62    ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
79                                        NOTES PAYABLE
Name: section_name, dtype: object

CLUSTER: 4
28     PRODUCT AND SERVICES REVENUES
76               REVENUE RECOGNITION
127    PRODUCT AND SERVICES REVENUES
179              REVENUE RECOGNITION
232    PRODUCT AND SERVICES REVENUES
Name: section_name, dtype: object

CLUSTER: 5
0                               ORACLE SYSTEMS FORM 10-K
3                             ORACLE CORP /DE/ FORM 10-K
45     ITEM 8. FINANCIAL STATEMENTS AND SUPPLEMENTARY...
97                              ORACLE SYSTEMS FORM 10-K
100                           ORACLE CORP /DE/ FORM 10-K
Name: section_name, dtype: object

CLUSTER: 6
8           PART I ITEM 1. BUSINESS
9                        BACKGROUND
10      PRODUCT DEVELOPMENT HISTORY
11                         PRODUCTS
12    COOPERATIVE SERVER TECHNOLOGY
Name: section_name, dtype: object

CLUSTER: 7
54    ORACLE SYSTEMS CORPORATION CONSOLIDATED BALANC...
56    OTHER ASSETS . . . . . . . . . . . . . . . . ....
63    ORACLE SYSTEMS CORPORATION CONSOLIDATED STATEM...
64                CASH FLOWS FROM INVESTING ACTIVITIES:
65                CASH FLOWS FROM FINANCING ACTIVITIES:
Name: section_name, dtype: object

CLUSTER: 8
31                                   ITEM 2. PROPERTIES
57    LIABILITIES AND STOCKHOLDERS' EQUITY CURRENT L...
70                             STATEMENTS OF CASH FLOWS
73                                             PROPERTY
75                                       LONG TERM DEBT
Name: section_name, dtype: object

CLUSTER: 9
53     REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
61                          COMMON AND COMMON EQUIVALENT
68                         BASIS OF FINANCIAL STATEMENTS
153                                                 PAGE
156    REPORT OF INDEPENDENT PUBLIC ACCOUNTANTS TO OR...
Name: section_name, dtype: object

CLUSTER: 10
991    RESULTS OF OPERATIONS DOMESTIC AND INTERNATION...
992    LICENSE AND OTHER YEAR ENDED MAY 31, PERCENT C...
993    LICENSE AND OTHER:\tLICENSE REVENUES REPRESENT...
996    SERVICES YEAR ENDED MAY 31, PERCENT CHANGE\tPE...
999    CONSULTING:\tCONSULTING REVENUES ARE EARNED BY...
Name: section_name, dtype: object

CLUSTER: 11
1463    NEW SOFTWARE LICENSES:\tNEW SOFTWARE LICENSE R...
1466    SOFTWARE LICENSE UPDATES AND PRODUCT SUPPORT: ...
1470    CONSULTING:  CONSULTING REVENUES ARE EARNED BY...
1475    EDUCATION:  EDUCATION REVENUES ARE EARNED BY P...
1478    RESEARCH AND DEVELOPMENT EXPENSES:  RESEARCH A...
Name: section_name, dtype: object

CLUSTER: 12
41                           PROVISION FOR INCOME TAXES:
77                                          INCOME TAXES
142                          PROVISION FOR INCOME TAXES:
161    INCOME BEFORE PROVISION FOR INCOME TAXES AND C...
193    YEAR ENDED MAY 31, ORACLE CORPORATION NOTES TO...
Name: section_name, dtype: object

CLUSTER: 13
66     EFFECT OF EXCHANGE RATE CHANGES ON CASH\t(2,00...
71                             CASH AND CASH INVESTMENTS
72                          CONCENTRATION OF CREDIT RISK
173    STATEMENT OF FINANCIAL ACCOUNTING STANDARDS NO...
174    AMORTIZED\tAGGREGATE\t\tUNREALIZED COST\tFAIR ...
Name: section_name, dtype: object

CLUSTER: 14
34     ITEM 4A. EXECUTIVE OFFICERS OF THE REGISTRANT
93                        ORACLE SYSTEMS CORPORATION
134                                  NAME\tOFFICE(S)
200                               ORACLE CORPORATION
201                   LAWRENCE J. ELLISON, PRESIDENT
Name: section_name, dtype: object

CLUSTER: 15
6      SECURITIES REGISTERED PURSUANT TO SECTION 12(B...
92                                            SIGNATURES
101    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
199                                           SIGNATURES
216    SECURITIES AND EXCHANGE COMMISSION WASHINGTON ...
Name: section_name, dtype: object

CLUSTER: 16
69     FOREIGN CURRENCY TRANSLATION
169    FOREIGN CURRENCY TRANSLATION
282    FOREIGN CURRENCY TRANSLATION
393    FOREIGN CURRENCY TRANSLATION
562    FOREIGN CURRENCY TRANSLATION
Name: section_name, dtype: object

CLUSTER: 17
1537                                           BORROWINGS
1550                                             PROPERTY
1714                                             PROPERTY
1899    ORACLE CORPORATION NOTES TO CONSOLIDATED FINAN...
1915                                             PROPERTY
Name: section_name, dtype: object

CLUSTER: 18
1178        ITEM 8A.   DISCLOSURE CONTROLS AND PROCEDURES
1180    ITEM 9A.   INTERNAL CONTROL OVER FINANCIAL REP...
1279    CERTIFICATION PURSUANT TO SECTION 302 OF THE S...
1358                    ITEM 9A.\tCONTROLS AND PROCEDURES
1401    CONSENT OF ERNST & YOUNG LLP, INDEPENDENT REGI...
Name: section_name, dtype: object

CLUSTER: 19
1022    (DOLLARS IN MILLIONS) AMORTIZED PRINCIPAL AMOU...
1050                                             EXCHANGE
1052                               NOTES PAYABLE AND DEBT
1174        (DOLLARS IN MILLIONS) BALANCE AT MAY 31, 2003
1209    MAY 31, (DOLLARS IN MILLIONS)\t2003\t2002 NOTE...
Name: section_name, dtype: object